/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";


//---------Navbar---------

 .navbar-default {
     background-color: #F48FB1;//--导航栏的背景色
     border-color: #F48FB1;

     border-radius: 0;
 }

 .navbar-default .navbar-brand {
     color: #FAFAFA;    //--字体颜色
     padding: 10px 15px;
     line-height: 30px;
 }

 .navbar-default .navbar-brand:hover,
 .navbar-default .navbar-brand:focus {
     color: #FFFDE7;  //--当鼠标在标题上时的颜色
     background-color: transparent;
 }

 .navbar-default .navbar-nav > li > a {
     color: #FAFAFA; //--登陆后显示的账号
 }

 .navbar-default .navbar-nav > li > a:hover,
 .navbar-default .navbar-nav > li > a:focus {
     color: #FFFDE7; //--当鼠标停留在账号名称上时
     background-color: transparent;
 }

 .navbar-default .navbar-nav > .active > a,
 .navbar-default .navbar-nav > .active > a:hover,
 .navbar-default .navbar-nav > .active > a:focus {
     color: #FAFAFA;
     background-color: #FAFAFA;
 }

 .navbar-default .navbar-nav > .open > a,
 .navbar-default .navbar-nav > .open > a:focus,
 .navbar-default .navbar-nav > .open > a:hover {
     background-color: #F48FB1; //--当鼠标停在账号上的背景块颜色
     color: #FFFF8D; //--当鼠标停在账号上的字体颜色
 }
 //---------Box---------

  .box {
      background-image: url("header.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      margin-bottom: 50px;
      margin-top: -20px;


      .box-inner {
          background-color: rgba(250, 250, 250, 0);
          padding-bottom: 3px;
          margin-top: 150px;
          margin-bottom: 320px;

      }

      .title {
          font-family:"Avenir",Georgia,Serif;
          text-align: center;
          margin-bottom: 80px;
          color: #F48FB1;
      }

      .slogan {
        font-family:"Avenir",Georgia,Serif;
          color: #F48FB1;
          margin-top: 10px;
          margin-bottom: 50px;
          text-align: center;
          font-size: 25px;
          top: 12px;
      }

      .lead {
        font-family:"微软雅黑",Georgia,Serif;
          margin-bottom: 60px;
          text-align: center;
          color: white;
      }
  }

 //---------Content---------

 .content-section-a {
     padding: 50px 0;
     background-color: #f8f8f8;
 }

 .content-section-b {
     padding: 50px 0;
     border-top: 1px solid #e7e7e7;
     border-bottom: 1px solid #e7e7e7;
 }

 .section-heading-spacer {
     float: left;
     width: 200px;
     border-top: 3px solid #e7e7e7;
 }

 .section-heading {
     margin-bottom: 30px;
 }

 .lead {
     font-size: 18px;
     font-weight: 400;

}


//---------圆形图标
.person {
   border: 8px solid transparent;
   margin-bottom: 20px;
   width: 90%;
   height: 90%;
   opacity: 0.6;
}
.person:hover {
   border-color: #f1f1f1;
}
//----------自定义btn
.btn-zdy {
  color:#fff;
	background: #F48FB1; /* Old browsers */
	background: -webkit-linear-gradient(top,  #F48FB1 0%,#F48FB1 50%,#F48FB1 100%); /* Chrome10+,Safari5.1+ */
	}
  .btn-zdy:hover {
  	background: #F48FB1;
  	color:#FFFDE7;
  	}

.btn-zdy1{
  color:#fff;
	background: #80DEEA; /* Old browsers */
	background: -webkit-linear-gradient(top,  #80DEEA 0%,#80DEEA 50%,#80DEEA 100%); /* Chrome10+,Safari5.1+ */

}
.btn-zdy1:hover {
  background: #80DEEA;
  color:#FFFDE7;
  }

.btn-zdy2{
    color:#fff;
  	background: #AB47BC; /* Old browsers */
  	background: -webkit-linear-gradient(top,  #AB47BC 0%,#AB47BC 50%,#AB47BC 100%); /* Chrome10+,Safari5.1+ */

  }
.btn-zdy2:hover {
    background: #AB47BC;
    color:#FFFDE7;
    }
.nav-zdy {
      color:#fff;
    	background: #F48FB1; /* Old browsers */
    	background: -webkit-linear-gradient(top,  #F48FB1 0%,#F48FB1 50%,#F48FB1 100%); /* Chrome10+,Safari5.1+ */
    	}
.nav-zdy:hover {
      	background: #F48FB1;
      	color:#FFFDE7;
      	}

//------------搜索框长度和宽度调节
.input-group{
  margin-top: 20px;
  width: 25%;
  height: 90%;
}

//-------------分页按钮
.pagination>li>a, .pagination>li>span, {
  border-radius: 50% !important;
  margin: 0 5px;
  color: #F48FB1;
  border-color: #F48FB1;

}

.pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
    z-index: 3;
    color: #fff;
    background-color: #F48FB1;
    border-color: #F48FB1;
    cursor: default;
}
//-------------panel框架
.panel-zdy
.panel-heading {
    color: #f1f1f1;
    background-color: #F48FB1;
    border-color: #F48FB1;
}
//-------------btn按钮调色
.btn-default {
    color: #F48FB1;
    background-color: #1f1f1;
    border-color: #F48FB1;

}
.btn-default> .active > a {
  color: #F48FB1;
  background-color: #1f1f1;
  border-color: #F48FB1;
}
//-------------搜索框调色
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #F48FB1;
  }
  blockquote{
      border-left:none
  }
//---------panel框架
  .quote-badge{
      background-color: rgba(0, 0, 0, 0.2);
  }

  .quote-box{

      overflow: hidden;
      margin-top: -50px;
      padding-top: -100px;
      border-radius: 17px;
      background-color: #FCE4EC;
      margin-top: 25px;
      margin-left: -50px;
      color:white;
      width: 1200px;
      box-shadow: 2px 2px 2px 2px #E0E0E0;

  }

  .quotation-mark{

      margin-top: -10px;
      font-weight: bold;
      font-size:100px;
      color:white;
      font-family: "微软雅黑", Georgia, Serif;

  }

  .quote-text{

      font-size: 19px;
      margin-top: -65px;
  }

  .table > thead > tr > td, .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td {
      padding: 8px;
      line-height: 1.42857143;
      vertical-align: top;
      border-top: 1px solid #F48FB1;//-------panel框架里的横线
  }

  a {
      color: #E91E63;
      text-decoration: none;
  }


  .bs-calltoaction{
      position: relative;
      width:auto;
      padding: 15px 25px;
      border: 1px solid black;
      margin-top: 10px;
      margin-bottom: 10px;
      border-radius: 5px;
  }

      .bs-calltoaction > .row{
          display:table;
          width: calc(100% + 30px);
      }

          .bs-calltoaction > .row > [class^="col-"],
          .bs-calltoaction > .row > [class*=" col-"]{
              float:none;
              display:table-cell;
              vertical-align:middle;
          }

              .cta-contents{
                  padding-top: 10px;
                  padding-bottom: 10px;
              }

                  .cta-title{
                      margin: 0 auto 15px;
                      padding: 0;
                  }

                  .cta-desc{
                      padding: 0;
                  }

                  .cta-desc p:last-child{
                      margin-bottom: 0;
                  }

              .cta-button{
                  padding-top: 10px;
                  padding-bottom: 10px;
              }

  @media (max-width: 991px){
      .bs-calltoaction > .row{
          display:block;
          width: auto;
      }

          .bs-calltoaction > .row > [class^="col-"],
          .bs-calltoaction > .row > [class*=" col-"]{
              float:none;
              display:block;
              vertical-align:middle;
              position: relative;
          }

          .cta-contents{
              text-align: center;
          }
  }



  .bs-calltoaction.bs-calltoaction-default{
      color: #333;
      background-color: #fff;
      border-color: #ccc;
  }

  .bs-calltoaction.bs-calltoaction-primary{
      color: #fff;
      background-color: #337ab7;
      border-color: #2e6da4;
  }

  .bs-calltoaction.bs-calltoaction-info{
      color: #fff;
      background-color: #5bc0de;
      border-color: #46b8da;
  }

  .bs-calltoaction.bs-calltoaction-success{
      color: #fff;
      background-color: #5cb85c;
      border-color: #4cae4c;
  }

  .bs-calltoaction.bs-calltoaction-warning{
      color: #fff;
      background-color: #f0ad4e;
      border-color: #eea236;
  }

  .bs-calltoaction.bs-calltoaction-danger{
      color: #fff;
      background-color: #d9534f;
      border-color: #d43f3a;
  }

  .bs-calltoaction.bs-calltoaction-primary .cta-button .btn,
  .bs-calltoaction.bs-calltoaction-info .cta-button .btn,
  .bs-calltoaction.bs-calltoaction-success .cta-button .btn,
  .bs-calltoaction.bs-calltoaction-warning .cta-button .btn,
  .bs-calltoaction.bs-calltoaction-danger .cta-button .btn{
      border-color:#fff;
  }

//--------footer置底
  .footer {
      background-color: #F48FB1;
      color: #f5f5f5;
      padding: 5px;
      position: absolute;
   bottom: 0;
   width: 100%;
   /* Set the fixed height of the footer here */
   height: 100px;
   margin: 0 -15px;

   p {
      color: white;
     margin-top: 30px;
   }
  }



  html {
   position: relative;
   min-height: 100%;
 }

 body {
   /* Margin bottom by footer height */
   margin-bottom: 100px;
 }
